<a href="https://colab.research.google.com/github/manojkate001/manoj_demo/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# single line comment
print('mk')

mk

In [3]:
""" multi
    lined
    comment
    """
print('mk')

mk

In [5]:
a = 5
b = 10
sum = a + b
print(sum)

15

In [6]:
x = 2
y = 2.0
m = 2 + 5j
str = "Manoj"
no = [1,2,3,4,5]
print(type(x))
print(type(y))
print(type(m))
print(type(str))
print(type(no))
school = ('class','lab',12,34.40)
print(type(school))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [7]:
a = 5
b = 6
print(a%b)
a = 5   #floar division
b = 3
result = a // b
print(result)
a = 5   # explonentiation
b = 3
result = a ** b
print(result)

x = 10
y = 20

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)   # True

5
1
125
False
True
False
True
False